---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="TECH Innovation SAC | Soluciones Integrales en Visión Artificial"
>
  <main>
    <Hero />
  </main>
</Layout>
