<section
  class="justify-center h-screen bg-black text-center flex flex-col items-center relative"
>
  <div class="z-30 relative h-full flex flex-col pt-[calc(100vh/3)] mx-4">
    <header>
      <h2 class="text-white text-4xl tracking-wider font-bold">
        <span class="text-[#00fff5]">Visi칩n artificial</span> para la industria
      </h2>
      <p class="text-white text-xl pt-10 mx-8">
        Automatiza procesos que requieran de una inspecci칩n visual o un an치lisis
        de im치genes
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-[calc(100vh/5)]">
      <div>
        <a
          class="border-[3px] border-white bg-white/10 backdrop-blur-sm rounded font-medium text-lg px-10 py-2 text-white hover:bg-white hover:text-black transition-colors"
          href="#">Explora nuestro brochure</a
        >
      </div>
    </footer>
  </div>

  <div
    class="absolute top-0 bottom-0 z-10 bg-gradient-to-b from-black via-black to-transparent"
  >
    <video
      class="object-cover w-screen h-screen opacity-50"
      autoplay
      muted
      loop
      src="/video.mp4"></video>
  </div>
</section>
